@import "tailwindcss";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway/Raleway-VariableFont_wght.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Italic-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./fonts/PlayfairDisplay-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./fonts/PlayfairDisplay-Italic-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
}

@theme {
  --color-secondary: #FFFDF1;
  --color-primary: #280905;

  --font-railway: 'Raleway', sans-serif;
  --font-playfair: 'Playfair Display', serif;
}

body {
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-family: var(--font-railway);
}
button{
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}


.loader {
    width: 60px;
    aspect-ratio: 1;
    border: 8px solid #0000;
    box-sizing: border-box;
    background: 
      radial-gradient(farthest-side, #280905 98%, #0000) 0    0/15px 15px,
      radial-gradient(farthest-side, #280905 98%, #0000) 100% 0/15px 15px,
      radial-gradient(farthest-side, #280905 98%, #0000) 100% 100%/15px 15px,
      radial-gradient(farthest-side, #280905 98%, #0000) 0    100%/15px 15px,
      linear-gradient(#280905 0 0) 50%/30px 30px,
      #FFFDF1;
    background-repeat: no-repeat;
    filter: blur(4px) contrast(10);
    animation: l12 0.8s infinite;
  }
@keyframes l12 {
  100%  {background-position:100% 0,100% 100%,0 100%,0 0,center}
}


#style-4::-webkit-scrollbar-track
{
	background-color: #FFFDF1;
}

#style-4::-webkit-scrollbar
{
	width: 8px;
	background-color: #FFFDF1;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #280905;
	border: 1px solid #FFFDF1;
  border-radius: 20px;
}